<div class="container">
  <div class="row">
  </div>

  <div class="row">
    <div class="col-8">
     <h1><%= @flat.name %></h1>
     <p><%= @flat.address %></p>
     <h3>A bit more about this flat...</h3>
     <p><%= @flat.description %></p>
    </div>
    <div class="col-4">
      <div>
        <h5>Book this place!</h5>
      </div>
      <div>
        <h5>Details</h5>
          <p><i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %></p>
          <p><i class="fa-solid fa-person"></i> <%= @flat.number_of_guests %></p>
      </div>
      <div>
        <h6>Share</h6>
        <p><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-pinterest"></i></p>
      </div>
    </div>
  </div>
</div>
